@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800,900');


/* colors

White: #FFFFFF
Light Gray: #D9D9D9
Teal: #3C6E71
Black: #353535
Blue: #284B63



*/

:root{
	--white: #FFFFFF;
	--lightGray: #D9D9D9;
	--teal: #3C6E71;
	--black: #353535;
	--blue: #284B63;
	
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--white);
  color: var(--black);
  font-family: "Noto Sans", Arial, sans-serif;
}

body,div {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 4px;
  padding: 0px;
}

.spacey {
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.75em;
  margin: 0.5em 0.3em 0.75em 0.3em;
  padding: 8px 12px;
  color: var(--black);
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-family: "Source Sans Pro";
  text-align: center;
}

h1,h1 a {
  font-size: 64px;
  color: var(--white);
  text-align: center;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

h1 a:hover {

}

button {
	border: none;
	border-radius: 4px;
	background: var(--teal);
	inset: none;
	color: var(--white);
	font-weight: bold;
	font-size: 1.15em;
	padding: 0.25em 0.5em;
	margin: 0.35em 0.5em;
	transition: 0.2s;
}

button:hover{
	background: var(--blue);
	cursor: pointer;
}

.title {
  direction: rtl;
}

input[type='text']{
	font-size: 1.15em;
}

textarea {
	width: 75%;
	font-size: 1em;
	font-family: "Roboto Mono", monospace;
}

#playback{
	font-size: 1.25em;
}

#playback button{

	padding: 0.5em 1em;
	margin: 0.1em;
}

div.header {
  height: 0;
  z-index: 10;
}

div.content {
  background: var(--white);
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

div.left {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  overflow-y: auto;
  
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

div.right {
  width: 50%;
  height: 100%;
  left: 0px;
  position: absolute;
}

/* Convenience Tags */
.padded {
  padding: 4px 8px;
}

#debug {
  padding: 4px;
  border-radius: 12px;
}

#cubeDimension {
  border-radius: 8px;
  text-align: center;
}

#playback_alg {
  font-size: 100%;
}

#playback_alg span {
  margin: 0em 0.1em;
}

#playback_alg span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#typed_alg {
  font-size: 150%;
  width: 100%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#twistyContainer {
}

#twistyCanvas {
  /*width: 100%;*/
  /*height: 100%;*/
  cursor: move;
}

#canvas_input {
  position: absolute;
  right: 10px;
  top: 10px;
  background: var(--white);
  border: none;
  color: none;
  width: 1em;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1000;
  opacity: 0.2;
}

.checkered {
  background-color: var(--lightGray);
}

.center {
  text-align: center;
}

/* Debugging and Testing */

#debug{
	font-family: "Roboto Mono", monospace;
	font-size: 0.75em;
	padding: 0.25em;
}

#debug hr{
	margin: 0.25em;
	border-style: none;
	height: 2px;
	background: var(--lightGray);
}

.err {
  background-color: var(--teal);
  padding: 4px;
  border-radius: 8px;
}

#twistyContainer {
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;

}
